:where(html) {
    --margin-inline-0: 0;
    --margin-inline-1: 0.125rem;
    --margin-inline-2: 0.25rem;
    --margin-inline-3: 0.5rem;
    --margin-inline-4: 1rem;
    --margin-inline-5: 1.5rem;
    --margin-inline-6: 2rem;
    --margin-inline-7: 5rem;
    --margin-inline-8: 10rem;
}